* {
  margin: 0;
  padding: 0;
  vertical-align: top;
  font-family: sans-serif;
}
#master {
  margin: auto;
  width: 1000px;
}

#body {
  padding: 25px;
  background: radial-gradient(#ff0000, #0000ff);
}
.bordered {
  border: 5px gray solid;
}

#my_photo img {
  width: 440px;
  height: 290px;
}
h1.tagline, h1.name {
  width: 497px;
  margin: 0;
  display: inline-block;
  font-size: 30px;
  font-family: "Coming Soon", "Comic Sans MS", sans-serif;
}
h1.tagline {
  text-align: right;
}
div.section {
  background: radial-gradient(#fff, #999);
}
.section h1 {
  background: linear-gradient(#fff, #aaa);
  font-size: 24pt;
}
.section h2 {
  background: linear-gradient(#fff, #aaa);
  font-size: 20pt;
}

.info > img {
  width: 100%;
  height: auto;
}
.section {
  margin: 10px;
  background: linear-gradient(#fff, #ccc);
}
.two-col {
  height: 290px;
  display: inline-block;
  width: 440px;
}
.three-col {
  display: inline-block;
  width: 280px;
  height: 500px;
}
.info {
  height: 250px;
}
.tech > img {
  height: 50px;
  width: auto;
}
.tech {
  height: 160px;
}
.link {
  font-size: 25px;
  text-align: center;
  border: 5px gray solid;
  background-color: #00ffff;
  border-radius: 10px;
  width: 150px;
  height: 35px;
  margin: auto;
}
